<a href="https://colab.research.google.com/github/Adeelzafar/PythonTraining/blob/main/Python_Mock_Exam.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [6]:
songs = pd.Series([13,12,3], name="counts")

In [7]:
songs

0    13
1    12
2     3
Name: counts, dtype: int64

In [8]:
songs.mean()

9.333333333333334

In [1]:
2 ** 3 ** 2 ** 1

512

In [6]:
name = "Peter's sister's name's \"Anna\""
print(name)

Peter's sister's name's "Anna"

In [4]:
'Peter\'s sister\'s name\'s \"Anna\"'

'Peter\'s sister\'s name\'s "Anna"'

In [9]:
i = 250
i //= 2
i

125

In [12]:
n = 0 
while n < 4: 
  n += 1
  print(n, end=" ")

1 2 3 4

In [14]:
Val = 1 
Val2 = 0 
Val = Val ^ Val2
print(Val)
Val2 = Val ^ Val2
print(Val2)
Val = Val ^ Val2
print(Val)

1
1
0

In [17]:
z, y, x = 2, 1, 0 
x, z = z, y 
print(x,y,z)
y = y - z 
print(x,y,z)
# put line here 
#y, z, x = x, y, z
x, y, z = y, z, x
print(x, y, z)

2 1 1
2 0 1
0 1 2

In [22]:
x = "20" 
y = "20"
print(x is y)

True

In [39]:
s = "Hello, Python!" 
len(s)
#print(s[-15:15])
print(s[-15:])

Hello, Python!

In [41]:
lst = ["A", "B", "C", 2, 4] 
print(lst[:-2])
#del lst[0:-2] 
#print(lst)

['A', 'B', 'C']

In [54]:
s = 'python' 
for i in range(len(s)):
  print(type(i)) 
  print(i)
  i = s[i].upper()
  print(type(i)) 
  print(i, end="")
#print(s, end="")
print(i)
print(type(i))

<class 'int'>
0
<class 'str'>
P<class 'int'>
1
<class 'str'>
Y<class 'int'>
2
<class 'str'>
T<class 'int'>
3
<class 'str'>
H<class 'int'>
4
<class 'str'>
O<class 'int'>
5
<class 'str'>
NN
<class 'str'>

In [58]:
lst1 = "12,34" 
lst2 = lst1.split(',')
print(type(lst1))
print(lst2)
print(type(lst2))
print(len(lst1))
print(len(lst2))

print(len(lst1) < len(lst2))
# 5 > 2

<class 'str'>
['12', '34']
<class 'list'>
5
2
False

In [62]:
def fun(a, b=0, c=5, d=1):
   return a ** b ** c 
print(fun(b=2, a=2, c=3))
#def fun(mand, default = 0, mand)
#fun(1,0,1)

256

In [63]:
from random import randint 
for i in range(10): 
  print(randint(1, 5))

4
5
3
5
5
1
3
4
2
1

In [64]:
a = 'hello' 
# line 1 
def x(a,b=0): 
  # line 2 
  z = a[0] 
  # line 3 
  return z 
  # line 4 
print(x(a)) # line 5

h